{% extends '@projects/add.twig' %}

{% block toolbar %}
    <h2 data-toggle="tooltip" data-placement="bottom" data-original="{{ project.title | title }}" title="{{ environment.translate('Click to rename project and hit [Enter]') }}" contenteditable="">{{ project.title | title }}</h2>

    <div class="layer">
        <button class="button" id="save">
            <i class="fa fa-save"></i>
            {{ environment.translate('Save') }}
        </button>
        <!-- /.button -->
        <a href="{{ environment.generateUrl('projects', 'clone', { 'id': project.id }) }}" class="button">
            <i class="fa fa-copy"></i>
            {{ environment.translate('Clone') }}
        </a>
        <a href="{{ environment.generateUrl('shares', 'statistic', { 'project_id': project.id }) }}" class="button">
            <i class="fa fa-line-chart"></i>
            {{ environment.translate('Statistic') }}
        </a>
    </div>
    <!-- /.layer -->

    <div class="layer" style="border-bottom: 1px solid black; padding: 0 20px;">
        <button class="button admin-nav-button active first" data-block="main">
            <i class="fa fa-home"></i>
            {{ environment.translate('Where and what') }}
        </button>
        <button class="button admin-nav-button" data-block="design">
            <i class="fa fa-desktop"></i>
            {{ environment.translate('Design') }}
        </button>
        <!-- /.button -->
    </div>

    <div class="layer" style="float: right;">
        <a href="{{ environment.generateUrl('projects', 'delete', { 'id': project.id }) }}" class="button delete">
            <i class="fa fa-trash"></i>
            {{ environment.translate('Delete') }}
        </a>
        <!-- /.button -->
    </div>
    <!-- /.layer -->

{% endblock %}